.input {
  width: 100%;
  background: var(--bg);
  transition: var(--transition);
  border: 1px solid var(--grey-l);
  padding: 8px;
  border-radius: 8px;
  outline: none;
}

.input:focus {
  border-radius: 12px;
  background-color: var(--white);
  border-color: var(--white);
}