.Button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	text-decoration: none;
	border: 0;
	min-block-size: 100px;
	margin: 0;
	padding: 0;
	user-select: none;
	border-radius: 1rem;
	max-inline-size: 100%;
	min-inline-size: 100px;
	color: red;

	transition: background-color 0.4s ease-in-out;

	&:hover {
		background-color: #222;
	}
}
